body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
}

body {
    font-size: 0.12rem;
    font-family: -apple-system, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style-type: none;
}

li {
    list-style: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    outline: 0;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus, [onclick] {
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    background: none;
    -webkit-appearance: none;
    outline: 0;
}

em, i {
    font-style: normal;
}

em {
    color: #f28c48;
}

::-webkit-input-placeholder {
    color: #999;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
